<!--search.home.html Home page / Splash page of site-->
<div class="main-body">
  <div class="search-button-home">
    <p class="how-to-search">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="search-bar">
      <form ng-submit="initSearch(queryTerm)">
        <input ng-model="queryTerm" class="search-input" type="text" autofocus />
        <button ng-click="initSearch(queryTerm)" class="btn" type="button" id="go-btn">Search</button>
      </form>
    </div>
    <a ui-sref="advanced" class="adv">Advanced Search</a>
    <button ng-click="initSearch()" class="btn" id="see-all-btn" type="button">See All Records</button>
  </div>

  <!--Stats for: Total Titles, Lastu Updated, Recent Contributors-->
  <div data-ng-include src="'partials/app.stats.html'"></div>
</div>
