<!--search.home.html Home page / Splash page of site-->
<div class="main-body">
  <div class="search-button-home">
    <p class="how-to-search">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="search-bar">
      <form ng-submit="initSearch({q: queryTerm})">
        <input ng-model="queryTerm" class="search-input" type="text" autofocus />
        <button ng-click="initSearch({q: queryTerm})" class="btn" type="button" id="go-btn">Search</button>
      </form>
    </div>
    <a ui-sref="advanced" class="adv">Advanced Search</a>
    <button ng-click="initSearch({q: queryTerm})" class="btn" id="see-all-btn" type="button">See All Records</button>
  </div>

  <!--Stats for: Total Titles, Lastu Updated, Recent Contributors-->
  <div class="titles-lastupdated-contributors">
    <ul>
      <li><hr class="tlc-hr"><h4>TOTAL TITLES</h4>
        <p>71,199</p></li>
      <li><hr class="tlc-hr"><h4>LAST UPDATED</h4>
        <p>April 1, 2015<br>1,243 Records Added</dd><p><a class="tlc-orange" ui-sref="newrecords">SEE NEW RECORDS</a></p></p>
        <li><hr class="tlc-hr"><h4>RECENT CONTRIBUTORS</h4>
            <p>Bibliotheque National de France<br>Online Scholarly Catalogue Initiative
            <br>Getty Publications Virtual Library<br>Smithsonian Libraries</p>
          <a class="tlc-orange" ui-sref="contributors">SEE ALL CONTRIBUTORS</a></li>
    </ul>
  </div>
</div>
