<div class="modal-header">
  <h4 class="modal-title">Filter Your Results</h4>
</div>
<div class="modal-body">
  <div>
    <ul class="facet-tabs">
      <li>
        <div class="borderBottom"><a>Type</a></div>
      </li>
      <li>
        <div class="borderBottom"><a>Creator</a></div>
      </li>
      <li>
        <div class="borderBottom"><a>Subject</a></div>
      </li>
      <li>
        <div class="borderBottom"><a>Contributor</a></div>
      </li>
      <li>
        <div class="borderBottom"><a>Language</a></div>
      </li>
      <li id="facet-placeholder">
      </li>
    </ul>
    <div class="facet-tab-content">
      <p id="filter-instructions">To quickly locate a filter, simply type its first few characters below</p>
      <input class="search-filters" type="text" placeholder="Search filters">
      <p class="checked-filters"><a href="#">See Only Checked Filters</a></p>
      <ul class="checkbox-list">
        <li class="filter-checkboxes" ng-repeat="facet in currentFacets">
          <input type="checkbox" id="{{facet.option}}">
          <label for="{{facet.option}}">{{ facet.option }}
        </label>
        </li>
      </ul>
      

    </div>
  </div>
<div class="modal-footer">
  <div class="filters-selected">FILTERS SELECTED(1)</div>
  <button class="apply-btn" type="button" ng-click="ok()">Apply</button>
</div>