!.gitkeep
node_modules/
bower_components/

config/develop
config/prod

.DS_Store

tmp/

npm-debug.log

ENV

# Python cache directories
__pycache__/


src/server/ingest/test_data/
src/server/ingest/production_data

