!.gitkeep
node_modules/
bower_components/

config/develop
config/prod

.DS_Store

tmp/
logs/*
.log

src/server/api/__pycache__/
src/server/api/migrations/__pycache__/
src/server/server/__pycache__/

npm-debug.log

ENV
