<div class="container-fluid">
  <div class="row">
    <div class="main-body">
      <div class="adv-search-container">
        <!--Sidebar content-->

        <h3>Advanced Search</h3>
        <hr class="sr-top">
        <h5>Filter by keywords:</h5>
        <input ng-model="queryTerm" class="keyword-search-input" type="text">
        <p class="keyword-search-input-subtext">This search bar accepts keywords separated by comas and boolean searches
        (using “AND”, “OR”, etc. between keywords. For tips on using boolean searches, see <a ui-sref="help">Search Help</a>.</p>

        <h4 class="sbf-heading">Search by Field</h4>
        <div ng-controller="AdvFieldController">
          <label>
            <select class="select-field" ng-model="myField" ng-options="field.name for field in fields">
              <option value="Title"></option>
              <input class="sf-input" ng-show="myField.name=='Title'" ng-model="query.terms.title" type="text">
              <input class="sf-input" ng-show="myField.name=='Date'" ng-model="query.terms.date" type="text">
              <input class="sf-input" ng-show="myField.name=='Subject'" ng-model="query.terms.subject" type="text">
              <i class="glyphicon-plus glyphicon add-field-glyph"></i>
              <button ng-click="search()" class="btn adv-search-btn" type="button">Advanced Search</button>
            </select>
          </label>
        </div>
        <!--
          Sort by:
          <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
          </select>
        -->

      </div>
      <div class="col-md-10">
        <!--Body content-->
        <ul class="books">
          <li ng-repeat="book in results.hits.hits" class="book-listing">
            <b>Title: </b><a ui-sref="books/{{book._id}}">{{book._source.title[0].value}}</a><br/>
            <b>Author: </b>{{book._source.creator[0].value}}<br/>
            <b>Date: </b>{{book._source.date[0].value}}<br/>
            <b>Contributor: </b>{{book._source.contributor[0].value}}<br/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
