<div ng-controller="HeaderCtrl">
    <div ng-include src="header.url"></div>
    <script type="text/ng-template" id="header.html"></script>
    </div>
</div>

<div class="item-page">
<div class="item-details">
<hr class="sr-top">
<h2>{{book._source.title[0].value}}</h2>
<a href="#/"><i class="glyphicon-bookmark glyphicon"></i></a><a href="#/">Remove Record</a>
<input type="submit" id="vdi" value="View Digital Item" />
<input type="submit" id="vdi" value="Submit" />
<h3>Details</h3>
<hr class="sr-top"> 
<ul class="specs" ng-repeat="(key, field) in book._source">
  <li><b>{{key}}</b>
    <ul class="specs" ng-repeat="entry in field">
      <li>{{entry.value}}</li>
    </ul>
  </li>
</ul>

</div>
</div>

<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="footer.html"></script>
    </div>      
</div>

