<div class="getty-portal-app">
<div class="item-page">
<div class="item-details">
<hr class="sr-top">
<h3 class="book-detail-title" print-section>{{book._source._title_display}}</h3>
<div class="rec-options">
<a href="#/"><i class="glyphicon-bookmark glyphicon"></i></a>
<button print-btn class="vdi">Print</button>
<!-- Simple dropdown -->
    <accordion>
    <div class="export_accordion__container" ng-controller="FaqsCtrl">
      <div class="export_accordion__tab">
            <div class="export_accordion__tab-title" ng-click="openTab('tab one')"><input class="vdi" type="submit" value="Export" /></div>
                <div class="export_accordion__tab-content" ng-show="isOpenTab('tab one')">
                	<ul class="export_dropdown">
                		<li><a ui-sref="app/#">RIS</a></li>
                		<li><a ui-sref="app/#">DC-XML</a></li>
                		<li><a ui-sref="app/#">DC-JSON</a></li>
                		<li><a ui-sref="app/#">DC-YML</a></li>
                 	</ul>
                </div>
            </div>
      </div>
   </accordion>
   <button ng-click="redirect()"class="vdi"> <!--<a ng-href="{{book._source._record_link}}" target="_blank" style="text-decoration:none; color:black">View Digital Item</a>-->View Digital Item</button>
<!--<input type="submit" class="vdi" value="View Digital Item" />-->
<a class="remove-rec" ui-sref="/">Remove Record</a>
</div>
<h4 class="detail-begin">Details</h4>
<hr class="sr-top">
<ul print-section class="specs" ng-repeat="(key, field) in book._source.dublin_core">
  <li class="book-field-key"><b>{{key | uppercase}}</b>
    <ul class="specs" ng-repeat="entry in field">
      <li class="book-field-val">{{entry.value}}</li>
    </ul>
  </li>
</ul>
<h5>Question about this record?</h5>
<input type="submit" id="emailGRI" value="Email the GRI" />
</div>
</div>
<div ng-app="app" class="app">
