<div class="container-fluid" id="container-test">
  <div ng-controller="HeaderCtrl">
    <div ng-include src="header.url"></div>
    <script type="text/ng-template" id="header.html"></script>
    </div>
</div>
<div class="main-body">
<h2>Contributors</h2>
<ul class="contributors">
<li ng-repeat="contributor in contributors">
	<p>{{contributor.name}}<p/>
    <p>{{contributor.num_records}} Records<p/>
</ul>
</div>
<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="footer.html"></script>
</div>      
