<div ng-app>
    <div ng-controller="HeaderCtrl">
    <div ng-include src="header.url"></div>
    <script type="text/ng-template" id="header.html"></script>
    </div>    
    <div class="accordion__container" ng-controller="FaqsCtrl">
        <h4 class="faqs-heading">Frequently Asked Questions</h4>
        <hr class="faqs-heading-hr">
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab one')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab one'), 'glyphicon-plus': !status.open}"></i>What is the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab one')">The Getty Research Portal is an online platform providing global access to digitized art history texts. The Portal is comprised of catalog records that link to full, digitized texts hosted by the contributing institutions or their service providers.</div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab two')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab two'), 'glyphicon-plus': !status.open}"></i>What kinds of texts are included in the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab two')">The Getty Research Portal provides access to digitized resources for the printed literature of art, including fundamental texts, rare books, exhibition catalogues, auction catalogues, and related literature. As the Portal's contributions grow, its scope will widen to include more texts about non-Western art. 
                </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab three')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab three'), 'glyphicon-plus': !status.open}"></i>Are all of the texts accessible through the Portal in the public domain?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab three')">No. Some contributing institutions are providing access to texts for which they own the copyright or have permission from the copyright owner to make available under specific terms of use. It is important to read the Terms of Use at each of the websites where the digitized texts are hosted.</div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab four')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab four'), 'glyphicon-plus': !status.open}"></i>Does the Portal provide access to more than one copy of the same text?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab four')">When more than one institution has contributed the same text, a Portal search will return a record for each copy. Additionally, because the metadata is in the language used by the contributing institution, a search may yield multilingual results. Guidelines for using the digitized books are determined by the contributing institution. </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab five')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab five'), 'glyphicon-plus': !status.open}"></i>Does the Portal offer any other features?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab five')">The Portal allows for the export of references and bibliographies into citation management tools such as EndNote, Zotero, and Mendeley. The Portal will also eventually include tools for annotating and sharing digitized texts and for linking to images, as well as other tools useful to researchers and art historians.  </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab six')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab six'), 'glyphicon-plus': !status.open}"></i>Given the wide range of search services offered to scholars, why do we need the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab six')">The Portal is an authoritative, worldwide resource that provides one-stop multilingual access to art history texts, rare books, and related literature without restriction. The Portal texts are free, downloadable, and digitized in their entirety according to national and international standards. Because cataloguing is done by the libraries that own the physical books, the records are authoritative. As an added benefit, libraries planning to digitize their art history texts can consult the Portal to see what has already been digitized. </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab seven')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab seven'), 'glyphicon-plus': !status.open}"></i>Can I do a full-text search across all of the books in the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab seven')">No, an initial search includes only catalog records, not the full text of the books. However, once a user clicks through to a book, a complete search is possible if the contributing institution offers full-text searching. </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab eight')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab eight'), 'glyphicon-plus': !status.open}"></i>What is the history of the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab eight')">In March 2011, the Samuel H. Kress Foundation funded a two-day meeting at the Getty Research Institute to explore the scope and services of a proposed union catalog of digitized texts. The Institut national d'histoire de l'art (INHA) in Paris hosted a second meeting in October 2011. Staff members from the Avery Architectural &amp; Fine Arts Library at Columbia University, the Frick Art Reference Library, the Getty Research Institute, the Heidelberg University Library, and the Institut national d'histoire de l'art comprised the initial working group. </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab nine')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab nine'), 'glyphicon-plus': !status.open}"></i>How can institutions contribute to the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab nine')">Contributions are welcome from institutions seeking to make their digitized texts more accessible to users worldwide. To begin the process, please read the Guidelines for Contributions. 
                </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab ten')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab ten'), 'glyphicon-plus': !status.open}"></i>How often is the Portal updated?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab ten')">The Portal is updated as soon as new contributions have been reviewed and processed. </div>
        </div>
        <hr class="faqs-hr">
        <!-- .accordion__tab -->
        <div class="accordion__tab">
            <div class="accordion__tab-title" ng-click="openTab('tab eleven')"><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isOpenTab('tab eleven'), 'glyphicon-plus': !status.open}"></i>Who supports the Portal?
            </div>
                <div class="accordion__tab-content" ng-show="isOpenTab('tab eleven')">The direct costs of the Portal are funded by the Getty Research Institute. The system architecture was developed and initiated by the Getty, which also hosts the site, receives and processes new contributions, and provides project administration. Contributing institutions provide catalog records and staff time for preparing contributions. </div>
        </div>
        <hr class="faqs-hr">
    </div>
    <div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="footer.html"></script>
</div>
</div>