<div class="getty-portal=app">
  <div class="container" ng-controller="FaqsCtrl">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="faqs-heading">Frequently Asked Questions</h3>
        <hr class="faqs-heading-hr">

        <accordion close-others="true">
          <accordion-group is-open="isopen">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen, 'glyphicon-plus': !isopen}"></i>What is the Portal?</accordion-heading>

            The Getty Research Portal is an online platform providing global access to digitized art history texts. The Portal is comprised of catalog records that link to full, digitized texts hosted by the contributing institutions or their service providers.
          </accordion-group><!-- accordion-group -->

          <accordion-group is-open="isopen2">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen2, 'glyphicon-plus': !isopen2}"></i>What kinds of texts are included in the Portal?
            </accordion-heading>
            The Getty Research Portal provides access to digitized resources for the printed literature of art, including fundamental texts, rare books, exhibition catalogues, auction catalogues, and related literature. As the Portal's contributions grow, its scope will widen to include more texts about non-Western art.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen3">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen3, 'glyphicon-plus': !isopen3}"></i>Are all of the texts accessible through the Portal in the public domain?
            </accordion-heading>
            No. Some contributing institutions are providing access to texts for which they own the copyright or have permission from the copyright owner to make available under specific terms of use. It is important to read the Terms of Use at each of the websites where the digitized texts are hosted.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen4">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen4, 'glyphicon-plus': !isopen4}"></i>Does the Portal provide access to more than one copy of the same text?
            </accordion-heading>
            The Portal allows for the export of references and bibliographies into citation management tools such as EndNote, Zotero, and Mendeley. The Portal will also eventually include tools for annotating and sharing digitized texts and for linking to images, as well as other tools useful to researchers and art historians.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen5">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen5, 'glyphicon-plus': !isopen5}"></i>Given the wide range of search services offered to scholars, why do we need the Portal?
            </accordion-heading>
            The Portal is an authoritative, worldwide resource that provides one-stop multilingual access to art history texts, rare books, and related literature without restriction. The Portal texts are free, downloadable, and digitized in their entirety according to national and international standards. Because cataloguing is done by the libraries that own the physical books, the records are authoritative. As an added benefit, libraries planning to digitize their art history texts can consult the Portal to see what has already been digitized.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen6">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen6, 'glyphicon-plus': !isopen6}"></i>Can I do a full-text search across all of the books in the Portal?
            </accordion-heading>
            No, an initial search includes only catalog records, not the full text of the books. However, once a user clicks through to a book, a complete search is possible if the contributing institution offers full-text searching.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen7">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen7, 'glyphicon-plus': !isopen7}"></i>What is the history of the Portal?
            </accordion-heading>
            In March 2011, the Samuel H. Kress Foundation funded a two-day meeting at the Getty Research Institute to explore the scope and services of a proposed union catalog of digitized texts. The Institut national d'histoire de l'art (INHA) in Paris hosted a second meeting in October 2011. Staff members from the Avery Architectural &amp; Fine Arts Library at Columbia University, the Frick Art Reference Library, the Getty Research Institute, the Heidelberg University Library, and the Institut national d'histoire de l'art comprised the initial working group.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen8">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen8, 'glyphicon-plus': !isopen8}"></i>How can institutions contribute to the Portal?
            </accordion-heading>
            Contributions are welcome from institutions seeking to make their digitized texts more accessible to users worldwide. To begin the process, please read the Guidelines for Contributions.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen9">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen9, 'glyphicon-plus': !isopen9}"></i>How often is the Portal updated?
            </accordion-heading>
            The Portal is updated as soon as new contributions have been reviewed and processed.
           </accordion-group><!-- accordion-group -->

           <accordion-group is-open="isopen9">
            <accordion-heading><i class="glyphicon-plus glyphicon" ng-class="{'glyphicon-minus': isopen9, 'glyphicon-plus': !isopen9}"></i>Who supports the Portal?
            </accordion-heading>
            The direct costs of the Portal are funded by the Getty Research Institute. The system architecture was developed and initiated by the Getty, which also hosts the site, receives and processes new contributions, and provides project administration. Contributing institutions provide catalog records and staff time for preparing contributions.
           </accordion-group><!-- accordion-group -->

      </uib-accordion>

      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div>
