<div ng-controller="HeaderCtrl">
    <div ng-include src="header.url"></div>
    <script type="text/ng-template" id="header.html"></script>
</div>
<ul class="accordion">
 
    <li id="one" class="files"><span>+</span><a href="#one">What is the Portal?</a></li>
 
    <li id="two" class="mail"><span>+</span><a href="#two">What kinds of texts are included in the Portal?</a></li>
 
    <li id="three" class="cloud"><span>+</span><a href="#three">Are all of the texts accessible through the Portal in the public domain?</a></li>
 
    <li id="four" class="sign"><span>+</span><a href="#four">Does the Portal provide access to more than one copy of the same text?</a></li>

    <li id="five" class="files"><span>+</span><a href="#five">Does the Portal offer any other features?</a></li>
 
    <li id="six" class="mail"><span>+</span><a href="#six">Given the wide range of search services offered to scholars, why do we need the Portal?</a></li>
 
    <li id="seven" class="cloud"><span>+</span><a href="#seven">Can I do a full-text search across all of the books in the Portal?</a></li>
 
    <li id="eight" class="sign"><span>+</span><a href="#eight">What is the history of the Portal?</a></li>

    <li id="nine" class="mail"><span>+</span><a href="#nine">How can institutions contribute to the Portal?</a></li>
 
    <li id="ten" class="cloud"><span>+</span><a href="#ten">How often is the Portal updated?</a></li>
 
    <li id="eleven" class="sign"><span>+</span><a href="#eleven">Who supports the Portal?</a></li>
</ul>
<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="footer.html"></script>
</div>