<div class="footer">
  <hr class="footer-hr">
    <div class="footer-container">
    <a href="http://www.getty.edu/"><p class="footer-logo"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo">&nbsp;&nbsp;The J. Paul Getty Trust</p></a>
    <ul class="footer-list">
      <li class="j-paul-getty-trust-cr">&copy; The J. Paul Getty Trust | </li>
      <li><a ui-sref="privacypolicy">Privacy Policy</a>    |    </li>
      <li><a ui-sref="termsofuse">Terms of Use</a>    |    </li>
      <li><a ui-sref="contact">Contact Us</a></li>
    </ul>
  </div>
</div>
