<div class="header">
  <a href="http://www.getty.edu/"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo"></a>
  <a href="/"><img src="assets/images/GRI-Portal-logo-02.png" alt="GRI Portal Logo" class="gri-portal-logo"></a>
</div>
<div class="main-nav">
  <ul>
    <li><a class="nav-link" href="/">Portal Home&nbsp;&nbsp;&nbsp;</a>|&nbsp;&nbsp;&nbsp;</li>
    <li><a class="nav-link" href="/savedrecords">Saved Records</a>&nbsp;&nbsp;&nbsp;|</li>
    <li>&nbsp;&nbsp;&nbsp;<a class="nav-link" href="/help">Help</a></li>
  </ul>
</div>