<div class="header-complete">
<div class="header">
  <a href="http://www.getty.edu/"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo"></a>
  <div class="gri-logo"><a ui-sref="home"><img src="assets/images/GRI-Portal-logo-02.png" alt="GRI Portal Logo" class="gri-portal-logo"></a></div>
</div>
<div class="main-nav">
  <ul>
    <li><a class="nav-link" ui-sref="home">Portal Home&nbsp;&nbsp;&nbsp;</a>|&nbsp;&nbsp;&nbsp;</li>
    <li><a class="nav-link" ui-sref="savedrecords">Saved Records</a>&nbsp;&nbsp;&nbsp;|</li>
    <li>&nbsp;&nbsp;&nbsp;
    <!-- Simple dropdown -->
    <div class="help_accordion__container" ng-controller="FaqsCtrl">
      <div class="help_accordion__tab">
        <div class="help_accordion__tab-title" ng-click="openTab('hmenu1')">Help<i class="glyphicon-chevron-down glyphicon" ng-class="{'glyphicon-chevron-up': isOpenTab('hmenu1'), 'glyphicon-chevron-down': !status.open}"></i>
          <!--</div>-->
          <div class="help_accordion__tab-content" ng-show="isOpenTab('hmenu1')">

            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
              <li><a ui-sref="help">Search Help</a></li>
              <li><a ui-sref="faq">FAQ</a></li>
              <li><a ui-sref="feedback">Feedback</a></li>
            </ul>
          </div>
      </div>
    </div>
</div>
    </li>
  </ul>
  </div>
