<div class="container-fluid" id="container-test">
  <div class="header">
    <a href="http://www.getty.edu/"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo"></a>
    <a href="/"><img src="assets/images/GRI-Portal-logo-02.png" alt="GRI Portal Logo" class="gri-portal-logo"></a>
  </div>
  <div class="main-nav">
      <ul>
        <li>Portal Home&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <li>Saved Records&nbsp;&nbsp;&nbsp;|</li>
        <li>&nbsp;&nbsp;&nbsp;Help</li>
      </ul>
    </div>
  <div class="main-body">  
    <div class="search-button-home">
      <!--Body content-->
      <p class="how-to-search">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="search-bar">
        <input ng-model="queryTerm" class="search-input" type="text">
        <button ng-click="search()" class="btn" type="button" id="go-btn">Search</button>
      </div>
      <a href="advanced.html" class="adv">Advanced Search</a> 
      <button ng-click="search()" class="btn" id="see-all-btn" type="button">See All Records</button>
    </div>
    <div class="titles-lastupdated-contributors">
      <ul>
        <li><h4>TOTAL TITLES</h4>
          <p>71,199</p></li>
        <li><h4>LAST UPDATED</h4>
          <p>April 1, 2015<br>1,243 Records Added</dd></p>
        <li><h4>RECENT CONTRIBUTORS</h4>
          <p>Bibliotheque National de France<br>Online Scholarly Catalogue Initiative
            <br>Getty Publications Virtual Library<br>Smithsonian Libraries</p></li>
      </ul>
    </div>
  </div>
    <div class="footer">
      <hr class="footer-hr">
      <div class="footer-container">
      <a href="http://www.getty.edu/"><p class="footer-logo"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo">&nbsp;&nbsp;The J. Paul Getty Trust</p></a>
      <ul class="footer-list">
        <li class="j-paul-getty-trust-cr">&copy; The J. Paul Getty Trust | </li>
        <li>Privacy Policy    |    </li>
        <li>Terms of Use    |    </li>
        <li>Contact Us</li>
      </ul>
    </div>
    </div>
      <ul class="books">
        <li ng-repeat="book in results.hits.hits" class="book-listing">
          <b>Title: </b><a href="#/books/{{book._id}}">{{book._source.title[0].value}}</a><br/>
          <b>Author: </b>{{book._source.creator[0].value}}<br/>
          <b>Date: </b>{{book._source.date[0].value}}<br/>
          <b>Contributor: </b>{{book._source.contributor[0].value}}<br/>
        </li>
      </ul>
    </div>
  </div>
</div>
