<div ng-hide="results" class="ng-hide" class="main-body">
  <div class="search-button-home">
    <!--Body content-->
    <p class="how-to-search">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="search-bar">
      <form ng-submit="search()"><input ng-model="queryTerm" class="search-input" type="text">
        <button ng-click="search()" class="btn" type="button" id="go-btn">Search</button></form>
    </div>
    <a href="/app/#/advanced" class="adv">Advanced Search</a>
    <button ng-click="search()" class="btn" id="see-all-btn" type="button">See All Records</button>
  </div>
  <div class="titles-lastupdated-contributors">
    <ul>
      <li><hr class="tlc-hr"><h4>TOTAL TITLES</h4>
        <p>71,199</p></li>
      <li><hr class="tlc-hr"><h4>LAST UPDATED</h4>
        <p>April 1, 2015<br>1,243 Records Added</dd><p><a class="tlc-orange" href="/app/#/newrecords">SEE NEW RECORDS</a></p></p>
        <li><hr class="tlc-hr"><h4>RECENT CONTRIBUTORS</h4>
          <p>Bibliotheque National de France<br>Online Scholarly Catalogue Initiative
          <br>Getty Publications Virtual Library<br>Smithsonian Libraries</p><p><a class="tlc-orange" href="/app/#/contributors">SEE ALL CONTRIBUTORS</a></p></li>
    </ul>
  </div>
</div>
<!--Search Results Section-->
<div ng-show="results">
  <h3>Search Results</h3>
  <hr class="sr-top">
  <!--Faceted Search Sidebar-->
  <div data-ng-include src="'partials/search.facets.html'"></div>
  <div class="results-list">
    <div class="search-bar-results">
      <form ng-submit="search()"><input ng-model="queryTerm" class="search-input" type="text">
        <button ng-click="search()" class="btn" type="button" id="go-btn-results"><span class="glyphicon glyphicon-search"></button></form>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="main-search-dropdown">Sort by:
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Type</a></li>
        <li><a href="#">Subject</a></li>
        <li><a href="#">Author</a></li>
      </ul>
      <span class="showing">Showing 10 of 10 items</span>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="main-search-dropdown">Show: 25
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">25</a></li>
        <li><a href="#">50</a></li>
        <li><a href="#">100</a></li>
      </ul>
    </div>
    <hr class="results-list-hr">
    <div data-ng-include="'partials/search.results.html'"></div>
  </div>
</div>
