<body>
<div ng-controller="HeaderCtrl">
    <div ng-include src="header.url"></div>
    <script type="text/ng-template" id="header.html"></script>
</div>    
<div class="main-body search-help">
	<h3>Help</h3>
	<hr class="sr-top">
	<div id="scrollArea" ng-controller="ScrollCtrl">
	<p>The Getty Research Portal is an online search platform providing global access to digitized art history texts in the public domain.</p>
	<p><b>Topics</b></p>
	<ul class="help-topics">
		<li><a ng-click="gotoElement('single-terms')">Searching with Single Terms and Phrases</a></li>
		<li><a ng-click="gotoElement('search-results-filters')">Search Results Filters</a></li>
		<li><a ng-click="gotoElement('using-the-filters')">Using the Filters</a></li>
		<li><a ng-click="gotoElement('advanced-search-tips')">Advanced Search Tips</a></li>
	</ul>
	<h3 class="help-body-heading" id="single-terms">Searching with Single Terms and Phrases</h3>
		<p>Enter any search term in the search box. Use quotations to indicate when two or more words should be searched as a phrase, e.g., "art festival." The search engine will look for results that include the exact words or phrases entered, as well as words with the same root, or 'stem.'</p>
		<p class="example">Example: Enter print in the search box and the search engine will also search for print, prints, and printed.</p>
	<h3 class="help-body-heading" id="search-results-filters">Search Results Filters</h3>
		<p>On the results page, a set of filters on the left side of the page can be used to further refine the results.</p>
	<h3 class="help-body-heading" id="using-the-filters">Using the Filters</h3>	
		<p>Clicking [+] opens a closed category while clicking [-] closes an opened one. Click the [+] sign next to a filter type to open the list of categories and see how many records were retrieved in various categories.</p>
		<p>The five filter types include the following categories:</p>
			<li>Type—the formats of the resources; e.g., book, text, thesis, periodicals</li>
			<li>Topic—subject matter of the resources; e.g., art, emblems, arbeiten auf papier, biography, poetry, periodicals</li>
			<li>Name—the authors, creators, makers, or publishers associated with the resources; e.g., M. Knoedler & Co, Paul Graupe, Charles de Clarac, Galerie Fischer</li>
			<li>Place—geographic locations associated with the resources; e.g., Italy, Rome, Extinct City, France, Herculaneum, Spain, Peru</li>
			<li>Source—the contributing institution is the 'source' of the resource record</li>
			<br>
		<p>Selecting a category, by clicking the check box next to it, will filter your original search and display only those records included in that category.</p>
		<p>You can add and remove as many category filters as you wish—all of your filters are displayed at the top of the filter list, under "Your Filters"</p>
	<h3 class="help-body-heading" id="advanced-search-tips">Advanced Search Tips</h3>
	<h4 class="help-body-subheading">Using Multiple Search Terms</h4>
		<p>Understanding how the search engine treats multiple search terms will help you refine your search. Results with higher relevance will appear higher on the results list. Relevance is determined by number of matched search terms, the proximity with which terms are located, and the importance of the field in which terms are found.</p>
			<li>1 or 2 search terms—each search result MUST contain the term/s</li>
			<li>3–5 search terms—each search result MUST contain the number of terms minus one. Results containing all terms will have the highest relevance and appear at the top of the results list.</li>
				<p class="example">Example: You enter 4 search terms. Search results must each contain at least 3 of those terms.</p>
			<li>More than 5 search terms—each search result must contain at least 75% of the terms. The system rounds fractions down.
				<p class="example">Example: You enter 10 search terms. Search results must each contain at least 7 of those terms.</p></li>
	<h4 class="help-body-subheading">Indicate a Required Term</h4>
		<p>Use a + sign to specify a word or phrases that MUST be found in search results.<p>
		<p class="example">Examples:</p>
		<p class="example">+"church architecture" » retrieves only records that contain the phrase "church architecture"</p>
		<p class="example">+church architecture » all retrieved records must contain the word "church." Some retrieved records may also contain the word "architecture"</p>
	<h4 class="help-body-subheading">Exclude a Term</h4>
		<p>Use a - sign to specify prohibited search terms from search results.</p>
		<p class="example">Examples:</p>
		<p class="example">plastik -dorotheum » retrieves records with the word "plastik," but which do not contain the word "dorotheum"</p>
		<p class="example">periodicals -"great britain" » retrieves records that contain the word "periodicals" but which do not contain the phrase "great britain"</p>
		<p class="example">+festivals -books » retrieves records that must contain the word "festivals," but which must not contain the word "books"</p>
	</div>
</div>
<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="footer.html"></script>
</div>
</body>