<!--search.home.html Home page / Splash page of site-->
<div ng-app="app" class="app">
  <div class="container">
    <div class="row row-centered">
      <div class="col-xs-12 col-md-8 col-centered">
        <div class="intro-copy">
          <h4>Access digitized art history publications, rare books, and related literature.</h4>
          <a href="http://www.getty.edu/research/tools/portal/index.html">Learn more about the Research Portal</a>
        </div>
      </div>
    </div><!-- /row -->

    <div class="row row-centered">
      <div class="col-xs-12 col-md-10 col-centered">
        <div class="search-bar">
        <form ng-submit="newSearch({q: queryTerm})" focus-home-search>
        <input ng-model="queryTerm" class="search-input" type="text"  />

        <button ng-click="newSearch({q: queryTerm})" class="btn-primary" type="button" id="go-btn"><p>Search</p>
          <span class="glyphicon glyphicon-search"></span></button>

        </form>
        <a ui-sref="advanced" class="adv">Advanced Search</a>
        </div>
      </div>
    </div><!-- /row -->

    <!-- See All Records Button -->
     <div class="row row-centered">
       <div class ="col-xs-12 col-sm-6 col-md-3 col-centered">
         <button ng-click="newSearch({q: ''})" class="btn-primary" id="see-all-btn" type="button">See All Records</button>
       </div>
     </div><!-- /row -->

  </div><!-- /container -->

  <!--Stats for: Total Titles, Lastu Updated, New Contributors-->
  <div class="container">
    <div class="row">
      <div class="stats">
        <div class="col-xs-12 col-sm-4">
          <div class="box">
            <hr class="tlc-hr">
            <h4>Total Titles</h4>
            <p>{{totalTitles}}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="box">
            <hr class="tlc-hr">
            <h4>Last Updated</h4>
            <p>January 1, 2016</p><a class="tlc-orange" ui-sref="newrecords">See New Records</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="box">
            <hr class="tlc-hr">
            <h4>New Contributors</h4>
            <p>The Menil Collection
              <br>The Warburg Institute University of London
              <br>Getty Research Institute
              <br>Sterling and Francine Clark Institute Library
              <br>Heidelberg University Library
            </p>
            <a ui-sref="contributors">See All Contributors</a>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->

</div>
