<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Saved Records</h3>
      <hr class="sr-top">
      <ul class="records-tabs">
        <li><h4 ng-class="{'active-tab': recordsActive}" ng-click="setActiveTab('records')">My Records</h4></li>
        <li><h4 ng-class="{'active-tab': searchesActive}" ng-click="setActiveTab('searches')">Recent Searches</h4></li>
      </ul>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->

<div ng-show="recordsActive" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="record-sorting">
        <div class="num-records"><p >You have <b>{{ numRecords }}</b> saved records.</p></div>
          <div class="btn-group" uib-dropdown>
            <button class="btn btn-primary search-dropdown dropdown-toggle" uib-dropdown-toggle type="button" id="toggle-sort-btn">Sort by: {{ currentSort }}<span class="caret"></span></button>
            <ul uib-dropdown-menu role="menu" class="dropdown-menu">
              <li ng-repeat="sortMode in validSortModes">
                <a ng-click="sortRecords(sortMode)">{{ sortMode.display }}</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div><!-- /.row -->

  <!-- My Records -->
  <div class="row">
    <div class="col-xs-12">
      <ul class="saved-records-list">
        <li dir-paginate="book in savedRecords | itemsPerPage: 10" class="book-listing" current-page="currentPage" pagination-id="records">
          <div class="book-info">
            <a ui-sref="books({bookID: book._id})" target="_blank" class="book-title">{{book._title_display}}</a>
            <div class="display-data">
              <div class="short-display"><b ng-show="book._creator_display">Creator: </b>{{book._creator_display}}</div>
              <div class="short-display"><b ng-show="book._date_display">Date: </b>{{book._date_display}}</div>
              <div class="short-display"><b ng-show="book._edition">Edition: </b>{{book._edition}}</div>
              <div class="short-display"><b>Contributing Institution: </b>{{book._grp_contributor}}</div>
            </div>
            <a ng-href="{{book._record_link}}" target="_blank"><button class="btn" type="button" id="view-digital-item">View Digital Item</button></a>
          </div>
        </li>
      </ul>
      <div class="results-pagination">
        <dir-pagination-controls pagination-id="records"></dir-pagination-controls>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->

<!-- Recent Searches -->
<div ng-show="searchesActive" class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="saved-searches-list">
        <li dir-paginate="search in savedSearches|orderBy: '-time' | itemsPerPage: 10" pagination-id="searches" class="records-items">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="search-info">
                <div class="saved-search-title"><p>Search Terms:</p></div>
                <div class="saved-search-terms">
                  <a ng-show="search.opts.q.length" ng-click="runSearch(search)">{{ search.opts.q.join(", ") }}</a>
                  <a ng-show="!search.opts.q.length" ng-click="runSearch(search)">No search term</a>
                </div>
                <div class="saved-search-title search-filters-heading" ng-show="search.opts.facets.length"><p>Filters:</p></div>
                <div>
                  <ul class="search-filters-list">
                  <li ng-repeat="facet in search.opts.facets">
                    <p>{{ facet.category | capitalize }}: {{ facet.value }} </p>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          <div class="col-xs-12 col-sm-4">
          <div class="additional-search-info">
            <div class="num-results"><p><i class="glyphicon glyphicon-file"></i> {{ search.numResults}} Records</p></div>
            <div class="remove-search-btn"><p ng-click="removeSearch(search)"><i class="glyphicon glyphicon-trash"></i> Remove</p></div>
          </div>
        </div>
        </li>
      </ul>
      <div class="results-pagination">
        <dir-pagination-controls pagination-id="searches"></dir-pagination-controls>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
