
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h3>Saved Records</h3>
        <hr class="results-list-hr"><br>
        <ul class="records-tabs">
            <li>
                <h4 ng-class="{'active-tab': recordsActive}" ng-click="setActiveTab('records')">MY RECORDS</h4>
            </li>
            <li>
                <h4>|</h4>
            </li>
            <li>
                <h4 ng-class="{'active-tab': searchesActive}" ng-click="setActiveTab('searches')">RECENT SEARCHES</h4>
            </li>
        </ul>
            </div>
    </div>
</div>
<div ng-show="recordsActive" class="container">
    <div class="row">
        <div class="col-xs-12">
        <div class="num-records"><p >You have <b ng-model="savedRecords">{{ savedRecords.length }}</b> saved records.</p></div>
        <div class="record-sorting">
            <div class="btn-group" uib-dropdown>
                <button class="btn btn-primary search-dropdown dropdown-toggle" uib-dropdown-toggle type="button" id="toggle-sort-btn">Sort by: {{ currentSort }}<span class="caret"></span></button>
                <ul uib-dropdown-menu role="menu" class="dropdown-menu">
                    <li ng-repeat="sortMode in validSortModes">
                        <a ng-click="sortRecords(sortMode)">{{ sortMode.display }}</a>
                    </li>
                </ul>
            </div>
        </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="saved-records-list">
                <storage-event-listener></storage-event-listener>
                <li ng-repeat="book in savedRecords" class="records-items">
                    <save-record-button></save-record-button>
                    <div class="record-info">
                        <a ui-sref="books({bookID: book._id})" target="_blank">{{book._title_display}}</a>
                        <b ng-show="book._creator_display"><br/>Creator: </b>{{book._creator_display}}
                        <b ng-show="book._date_display"><br/>Date: </b>{{book._date_display}}
                        <b ng-show="book._edition"><br/>Edition: </b>{{book._edition}}
                        <b><br/>Contributing Institution: </b>{{book._grp_contributor}}<br/>
                        <br/>
                        <a class="digital-item-link" ng-href="{{book._record_link}}" target="_blank">View Digital Item</a><br/>
                    </div>
                    <hr class="results-list-hr"><br>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="searchesActive" class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="saved-searches-list">
                <li ng-repeat="search in savedSearches|orderBy: '-time'" class="records-items">
                    <div class="search-info">
                        <p class="saved-search-title">Search:</p>
                        <a ng-show="search.opts.q" ng-click="runSearch(search)">{{ search.opts.q }}</a>
                        <a ng-show="!search.opts.q" ng-click="runSearch(search)">No search term</a>
                        <br/>
                        <p class="saved-search-title search-filters-heading" ng-show="search.opts.facets.length">Filters:</p>
                        <ul class="search-filters-list">
                            <li ng-repeat="facet in search.opts.facets">
                                <p>{{ facet.facet | uppercase }}: {{ facet.option }} </p>
                            </li>
                        </ul>
                    </div>
                    <div class="right-search-item">
                        <p><i class="glyphicon glyphicon-file"></i> {{ search.numResults}} Records</p>
                        <p class="remove-search-btn" ng-click="removeSearch(search)"><i class="glyphicon glyphicon-trash"></i> Remove</p>
                    </div>

                    <hr class="search-list-hr"><br>
                </li>
            </ul>
        </div>
    </div>
</div>




