<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Advanced Search</h3>
      <hr class="sr-top">
    </div>
  </div><!-- /.row -->
  <form ng-submit="search()">
  <div class="row">
    <div class="col-xs-12">
      <h4>Filter by keywords</h4>
      <input ng-model="queryTerm" class="keyword-search-input" type="text">
      <p class="keyword-search-input-subtext">For tips on advanced searches, see <a ui-sref="help">Search Help</a>.</p>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <span us-spinner spinner-on="showSpinner"></span>
      <h4>Search by field</h4>
      <div class="row">
        <div class="col-xs-4 col-md-2 sbf-button-col">
          <div ng-repeat="filter in filters">
            <div class="filter-item">
              <div class="dropdown results-top" uib-dropdown>
                <button type="button" class="btn btn-primary filter-dropdown dropdown-toggle" uib-dropdown-toggle id="toggle-select-btn">
                  <span class="glyphicon glyphicon-triangle-bottom" style="color:white; float: right"></span>
                  <div class="dropdown-text">{{filter.field.display}}</div>
                </button>
                <ul uib-dropdown-menu role="menu" class="dropdown-menu" id="filter-menu">
                  <li ng-repeat="field in fields">
                    <a ng-click="selectField(filter, field)">{{ field.display }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-md-6 sbf-input-col">
          <div ng-repeat="filter in filters">
            <div class="filter-item">
              <input class="sf-input" ng-model="filter.term" placeholder="Enter text"></input>
              <div ng-show="filter.lastFilter" ng-click="addFilter()" class="plus-button">
                <i class="glyphicon-plus glyphicon"></i>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" ng-click="search()" class="btn btn-primary search-btn" value="submit">Search</button>
    </div>

  </div><!-- /.row -->

</div><!-- /.container -->

