/* app css stylesheet */

/* TABLE OF CONTENTS

  1. Basic
  2. Header
  3. Main Nav
  4. Hamburger Menu
  5. Homepage
  6. Stat Boxes
  7. Advanced Search
  8. Search Results
  9. Facet Modal
  10. Detail View
  11. Footer
  12. Contributors
  13. Search Help
  14. FAQ
  15. Feedback
  16. Item Pages
  17. Saved Records Page
  18. Media Queries

*/


/* Basic */

.row-centered {
  text-align: center;
}

.col-centered {
  display:inline-block;
  float:none;
}

body {
  padding-top: 5px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 1px;
}

h6 {
  font-size: 18px;
  margin: 0;
}

a:hover {
  cursor:pointer;
  text-decoration: underline;
}

a:focus, a:active {
  outline: none;
  text-decoration: none;
}

hr {
  border-top: 2px solid #eee;
  width: 100%;
}

.sr-top {
  border-top: 3px solid #eee;
  margin-bottom: 25px;
  margin-top: 0;
  display: block;
  width: 100%;
}

.btn {
  background: #f68c20;
  color: #fff;
  border-radius: 2px;
}

.btn:hover, .btn:focus, .btn:active {
  background: #e57f25;
  color: #fff;
}

.btn-primary {
  background: #5998c9;
  color: #fff;
  border-radius: 2px;
  border: none;
  border-color: transparent;
}

.btn-primary:active, .btn-primary.active, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active:focus {
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-color: transparent;
}

.dropdown-menu {
  min-width: 85px;
}

.pagination > li > a, .pagination > li > span {
  color: #5998c9;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
  background-color: #5998c9;
  border-color: #5998c9;
}


/* Site Nav */

.site-nav {
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
}

.site-nav a {
  color: #333;
  font-weight: bold;
}

.site-nav span {
  margin-left: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.site-nav .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #333 !important;
  background-color: #f5f5f5 !important;
}


/* Header */

.gri-logo {
  text-align: center;
}

.header .getty-logo {
  width: 75px;
  margin-top: 8px;
}


.header .gri-portal-logo {
  width: 270px;
}

#container-test {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


  /* Main Nav */

  .navbar-default {
    background-color: #333;
    border: none;
    border-radius: 0;
    margin: 10px 0 50px;
  }

  .navbar-default .navbar-nav > li > a {
    color: #ddd;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ddd;
    background-color: #000;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ddd;
    background-color: #000;
  }

  .navbar-nav .dropdown-menu {
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.55);
  }

  .navbar-nav .dropdown-menu li a {
    color: #ddd;
    border-bottom: 1px solid #666;
  }

  .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ddd;
    background-color: #000;
  }


  /* Hamburger Menu */

    .navbar-nav {
      margin: 0;
    }

    #navbar {
      padding: 0;
      background-color: #333;
    }

    .navbar-toggle {
      float: left;
      margin: 8px 15px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ddd;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #000;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      color: #ddd;
      background-color: #000;
    }

    .navbar-default .navbar-nav > li {
      text-align: left;
      border-right: 1px solid #555;
    }

    .navbar-default .navbar-nav > li:last-child {
      border-right: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ddd;
    }

    .navbar-nav .open .dropdown-menu > li > a {
      padding: 10px 30px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ddd;
      background-color: #000;
    }



/* Homepage */

.main-body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 50px;
}

.intro-copy {
  display: block;
  margin-bottom: 50px;
}

.intro-copy h4 {
  margin-top: 0;
}

.intro-copy a {
  text-decoration: underline;
}

.search-bar {
  display: inline-block;
  width: 100%;
  background-color: #eee;
  padding: 30px 30px 25px 30px;
  margin-bottom: 80px;
}

.search-input {
  height: 50px;
  padding: 0px 15px;
  width: 84%;
  display: inline-block;
  float: left;
}

#go-btn {
  height: 50px;
  width: 15%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  float: right;
}

#go-btn p {
  margin: 0;
}

.adv {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  color: #666;
  text-decoration: underline;
  float: right;
}

a.adv:hover, a.adv:focus {
  color: #333;
}
#see-all-btn {
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 18px;
}
  /* Stat Boxes */

    .stats {
      text-align: center;
      display: block;
    }

    .stats .box {
      margin-bottom: 30px;
    }

    .stats .box a {
      text-decoration: underline;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 13px;
    }

    .tlc-hr {
      height: 3px;
      background: #f68c20;
      border-top: none;
    }


/* Advanced Search */

.keyword-search-input {
  width: 61%;
  height: 40px;
  padding: 10px;
}

.keyword-search-input-subtext {
  font-size: 12px;
}

.filter-item {
  margin-bottom: 10px;
}

.sbf-input-col {
  padding-left: 0;
}

.sf-input {
  height: 40px;
  width: 90%;
  padding: 10px;
}

.results-top button {
  height: 40px;
  width: 100%;
}

.results-top span {
  float: right;
}

.dropdown-text {
  display: inline-block;
}

#filter-menu {
  margin-bottom: 15px;
}

.dropdown-text {
  display: inline-block;
}

.dropdown-icon {
  display: inline-block;
}

.plus-button {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.add-field-glyph {
    padding: 3px 3px 3px 3px;
    margin-right: 10px;
    color: white;
    background: #909090;
    border-radius: 15px;
}

.search-btn {
  margin-top: 20px;
  padding: 10px 50px;
  float: right;
}


/* Search Results */

.search-bar-results {
  width: 100%;
  display: inline-block;
}

.search-bar-results form {
  display: flex;
  justify-content: center;
}

.facet-chip-search-bar {
  display: inline-block;
  min-height: 40px;
  width: 93%;
  margin-bottom: 10px;
  padding: 0px 4px;
  float: left;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: text;
}

.facet-chip-list {
  padding-left: 0;
  height: 100%;
  margin: 4px 0px;
}

.facet-chip-list li {
  display: inline-block;
  list-style: none;
  height: 90%;
  padding-left: 1px;
  padding-right: 1px;
}

#facet-chip-input {
  display: inline-block;
  width: 50px;
  height: 28px;
  border: none;
}

#facet-chip-input:focus {
  border:none;
  outline: none;
}

.input-div-focus {
  outline-color: #5EA1FF;
  outline-style: auto;
  border:none;
  box-shadow: 0px 0px 8px  #5EA1FF;;
}

.facet-chip {
  background-color: #337ab7;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  margin: 1px;
}

.facet-chip a {
  color: white;
}

.facet-chip a:hover {
  text-decoration: none;
}

.facet-labels:hover {
  text-decoration: none;
}

.facet-chip span {
  margin-left: 5px;
  top: 2px;
}

.facet-chip-no-results {
  background-color: #ccc;
  text-decoration: line-through;
}

.results-list {
  display: block;
  background-color: #eee;
  padding: 20px 15px 50px;
  border-bottom: 1px solid #ddd;
}

#go-btn-results, #date-btn-results {
  margin-left: 10px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

.paging {
  float: left;
  margin-bottom: 5px;
}

.results-pagination-top {
  font-size: 12px;
  display: inline;
  float: left;
  margin: 0;
}

#sorting {
  float: right;
}

#sorting .btn-group {
  margin-left: 5px;
}

#sorting .btn .glyphicon {
  margin-left: 5px;
  top: 2px;
}

.search-dropdown {
  font-size: 12px;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd
}

.showing {
  display: inline-block;
  margin: 7px 0 30px;
  font-size: 12px;
  color: #555;
}

.adv-drawer {
  display: inline-block;
  float: right;
  text-decoration: underline;
  background-color: #eee;
  padding: 5px 10px 10px;
}

.results-pagination {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.book-info {
  display: inline-block;
}

.results-data-val {
  display: inline;
}

.book-info b {
  line-height: 1.5;
}

li.book-listing {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.book-title {
  display: block;
  margin-bottom: 5px;
  color: #5998c9;
}

.book-title:hover, .book-title:focus, .book-title:active {
  color: #337ab7;
}

.display-data {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

#view-digital-item {
  font-size: 12px;
  margin-bottom: 20px;
}

.bookmark {
  display: inline-block;
  float: left;
  cursor: pointer;
  min-width: 50px;
  margin-right: 20px;
}

.glyphicon-bookmark {
  float: left;
  display: block;
  font-size: 46px;
  color: darkorange;
  clear:both;
}

.glyphicon-bookmark.inside {
  position:absolute;
  font-size: 43px;
  color: white;
  color: white;
  left: 1.5px;
  top: .1px;
}

.glyphicon-bookmark.inside.saved {
  position:absolute;
  font-size: 42px;
  color: darkorange;
  left: 1.5px;
  top: -0.5px;
}

.bookmark-text {
  float: left;
  display: block;
  font-size: 12px;
  color: darkorange;
  max-width: 50px;
  text-align: center;
  margin-top: 10px;
}


  /* Left Sidebar */

  .facet-header-desktop {
    margin: 0 0 20px;
  }

  .facet-header-desktop h4  {
    display: inline-block;
    margin: 0 0 10px;
  }

  #clear-all {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
    float: right;
  }

  #left_sidebar_accordion__container {
    float:left;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #eee;
  }

  .panel {
    border-radius: 0;
  }

  .panel-group .panel {
    border-radius: 0;
  }

  .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .search-facet-group .panel-heading {
    padding: 10px 0 15px;
  }

  .search-facet-group .panel-body {
    padding: 0 45px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .search-facet-group .panel-collapse.in.collapse {
    background-color: #eee;
  }

  .search-facet-group .panel.panel-default.panel-open {
    background-color: #eee;
  }

  .search-facet-group input[type="checkbox"] {
    margin: 4px 0 15px -16px;
    float: left;
  }

  .panel-default {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
  }

  .panel-default > .panel-heading {
    background-color: #eee;
  }

  .panel-body {
    background-color: #eee;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }

  .panel-title h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
  }

  .facet-labels {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 200;
    cursor: pointer;
  }

  .see-all-facets {
    padding-left: 10px;
    text-decoration: underline;
  }

  .date-range-container form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .date-range {
    display: inline-block;
    width: 48%;
    margin-right: 5px;
  }

  .date-range p {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .date-range input {
    width: 100%;
    height: 30px;
    font-size: 12px;
    border: 1px solid #ddd;
  }

  #date-btn-results {
    height: 30px;
    width: 33px;
    margin: 0;
    padding: 0 0 0 3px;
  }

  #date-btn-results .glyphicon {
    font-size: 12px;
  }


  /* Facet Dropdown Mobile */

  #facets-mobile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 1.5;
    background-color: #eee;
    border-bottom: 2px solid #ddd;
  }

  #facets-mobile h4 {
    padding: 14px 0 10px 10px;
    margin: 0;
    color: #333;
    margin-right: 10px;
    display: inline-block;
  }

  #facets-mobile .glyphicon {
    color: #333;
  }


  /* Facet Modal */

    .modal-content {
      padding: 20px;
    }

    .modal-body {
      padding: 0;
    }

    .modal-header {
      padding: 0 0 10px;
    }

    .close-modal {
      display: inline-block;
      float: right;
      cursor: pointer;
      height: 20px;
      font-size: 22px;
      padding-top: 0;
      padding-left: 0;
    }

    .facet-tabs {
      padding: 0;
      border-right: 1px solid #ddd;
    }

    .facet-tabs li {
      list-style: none;
      border-bottom: 1px solid #ddd;
    }

    .facet-tabs li a {
      display: block;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-decoration: none;
    }

    .facet-tabs li:hover {
      background-color: #eee;
      text-decoration: none;
    }

    .facet-tab-content {
      margin-left: -30px;
    }

    .active-facet-tab {
      background-color: #eee;
      text-decoration: none;
    }

    .selected-facet-tabs:before {
      content: "\25cf";
      font-size: 1em;
      padding-right: 0.25em;
      color: #f68c20;
    }

    .selected-facet-tabs {
      margin-left: -.825em;
    }

    #filter-instructions {
      font-size: 12px;
      padding-left: 5px;
    }

    .search-wrapper {
      background-color: #eee;
      padding: 10px;
    }

    .search-filters {
      width: 100%;
      height: 40px;
      padding-left: 10px;
    }

    .search-filters:placeholder-shown {
      font-style: italic;
      font-size: 12px;
      border: 1px solid #ddd;
    }

    .checked-filters {
      font-size: 13px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 8px;
      text-decoration: underline;
      color: #f68c20;
    }

    .checkbox-list {
      margin-top: 20px;
      padding-left: 0;
      height: 220px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .filter-checkboxes {
      list-style: none;
      width: 50%;
      display: inline-block;
      font-weight: normal;
      line-height: 24px;
      vertical-align: top;
      position: relative;
      padding-left: 25px;
    }

    .filter-checkboxes input {
      margin: 4px 0 15px -16px;
      float: left;
    }

    .modal-title {
      display: inline-block;
      font-weight: 700;
    }

    .filter-checkboxes label {
      font-weight: 300;
      max-width: 200px;
      position: relative;
      vertical-align: top;
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 10px;
    }

    .pagination {
      margin: 0;
    }

    .modal-header {
      padding-bottom: 6px;
    }

    .modal-footer {
      border-top: none;
      padding: 0 0 0 10px;
      margin-left: -30px;
    }

    .apply-btn {
      padding: 10px 30px;
    }

    .filters-selected {
      float: left;
      padding-top: 9px;
      font-weight: 200;
      font-size: 16px;
    }



/* Item Detail Page */

#item-details h3 {
  display: inline-block;
}

.rec-options {
  display: inline-block;
}

.view-export-print {
  float: right;
  display: block;
  list-style: none;
}

.view-export-print a {
  color: #fff;
}

.view-export-print a:hover {
text-decoration: none;
}

#exportBtn .glyphicon {
  margin-left: 5px;
  top: 3px;

}

.record-summary {
  display: block;
  min-height: 120px;
  margin-bottom: 30px;
  padding: 20px 12px;
  background-color: #eee;
}

.summary-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#item-details .bookmark {
  margin-right: 10px;
}


#item-details .glyphicon-bookmark {
  float: left;
  display: inline;
  clear: both;
}

.book-detail-title {
  color: #5998c9;
  font-size: 18px;
  margin-bottom: 10px;
}

.book-summary-cd {
  display: block;
}

.summary-field-title {
  margin-top: 5px;
  font-size: 18px;
}

.summary-value {
  display: inline;
  list-style: none;
  margin-bottom: 0;
  padding-left: 5px;
  font-size: 16px;
}

.summary-value li {
  display: inline;
}

.cat-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid #ddd;
  padding: 27px 0 17px;
}

.cat-title {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  min-width:  182px;
}

.cat-value {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.vdi {
  width: 150px;
  height: 40px;
  float: right;
}

.remove-rec {
  display: inline-block;
  margin-top: 50px;
  margin-left: -80px;
  color: orange;
}

.export_accordion__tab-content {
  width: 150px;
  float: right;
  margin-left: -150px;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none
}

li.book-field-val {
  margin-bottom: 10px;
  line-height: 16px;
  word-break: break-word;
}

#emailGRI {
  margin: 80px 0;
}

#emailGRI button {
  width: 180px;
  height: 50px;
}

#emailGRI .btn a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}


@media print {

  .printSection {
    margin-top: 0;
    padding-top: 0;
  }

  .record-detail {
    display: none;
  }

  .question {
    display: none;
  }

  header {
    display: none;
  }

  .navbar-default {
    margin-bottom: 0;
  }

  .book-detail-title {
    margin-bottom: 20px;
    padding-bottom: 0;
    font-size: 16px;
  }

  .cat-group {
    padding: 15px;
  }

  .rec-options {
    display: none;
  }

  .record-summary {
    min-height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .book-field-key {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .book-field-val {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1em;
    list-style: none;
  }

  .ng-binding b {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .footer {
    display: none;
  }
}


/* Footer */

.footer-hr {
  height: 3px;
  background: black;
}

.footer .container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  font-size: .9em;
  clear:both;
}

.footer p {
  font-size: 12px;
  margin: 0;
}

.footer ul {
  margin: 5px 0 0 0;
  text-align: center;
  padding: 0;
}

.footer li {
  list-style: none;
  display: inline;
  border-right: 1px solid #333;
  padding: 0 10px ;
  font-size: 12px;
}

.footer li:last-child {
  border-right: none;
  padding: 0 0 0 10px;
}

.footer li a {
  color: #333;
}

.footer li a:hover {
  color: #478ba3;
}


.footer .getty-logo{
  width: 35px;
  margin-right: 10px;
}

.footer-logo {
  display: inline-block;
  color: black;
}


/* Contributors */

.contributors {
  list-style: none;
  padding-left: 0;
}

.contributors li {
  margin: 10px 0 0 0;
}

.name-contrib {
  font-weight: bold;
  margin: 0 0 0 15px;
}

.num-contrib {
  color: #337ab7;
  text-decoration: none;
  margin-left: 15px;
}

.contributors a:hover {
  text-decoration: none;
}

.contrib-vl-center {
  height: 70px;
  border-right: 1px solid #eee;
  margin: -30px -15px -30px 0;
}

.contrib-vl-right{
  height: 70px;
  margin: -30px 0 -30px 0;
}

.contrib-pagination {
  font-size: 12px;
  text-align: center;
  margin: 30px 0;
}


/* Search Help */

#help h2 {
  font-size: 24px;
}

#help h3 {
  line-height: 1.2;
  margin: 0 0 25px;
}

#help h4 {
  line-height: 1.2;
  margin: 0 0 13px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

#help h5 {
  font-style: italic;
  margin: 25px 0 25px 30px;
}

#help p {
  margin: 0 0 28px;
  padding: 0;
}

#help ul {
  margin-bottom: 25px;
}

#help li {
  padding-bottom: 5px;
}

#top-link-block.affix-top {
    position: absolute; 
    bottom: -82px; 
    right: 10px; 
}
#top-link-block.affix {
    position: fixed; 
    bottom: 18px; 
    right: 10px; 
    z-index: 1;
}

.well {
  color: #fff;
  background-color: #528AA5;
  border: 1px solid #528AA5;
}

a.well.well-sm:hover, a.well.well-sm:focus {
  color: #fff;
}


/* FAQ */

.panel-heading .glyphicon {
  margin-right: 10px;
}


/* Feedback */

.fb-field {
  margin-top: 15px;
}

.fb-field input{
  width: 100%;
}

.fb-field select {
  width: 100%;
}

.fbfields {
  display: inline-block;
}

.ff-error-msg {
  color: red;
  margin-top: 5px;
}

.user-feedback textarea {
  height: 150px;
  width: 100%;
}

.ur-fb {
  margin-top: 15px;
  margin-bottom: -5px;
}

#feedback-submit {
  margin: 30px auto;
  display: block;
  width: 150px;
  height: 40px;
}


/* Saved Records Page */

  /* My Records */

  .records-tabs {
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .records-tabs h4 {
    margin: 5px 0;
  }

  .records-tabs li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    border-right: 1px solid #ddd;
  }

  .records-tabs li:first-child {
    padding-left: 0;
  }

  .records-tabs li:last-child {
    border-right: none;
  }

  .active-tab {
    border-bottom: 2px solid #f68c20;
    padding-bottom: 5px;
  }

  .record-sorting {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin: 10px 0 40px;
  }

  .num-records {
    float: left;
    margin-right: 20px;
  }

  .saved-records-list {
    padding-left: 0;
  }

  .saved-records-list li.book-listing {
    margin-bottom: 30px;
  }

    .saved-records-list #view-digital-item{
      margin-bottom: 30px;
  }

  /* Recent Searches */

  .saved-searches-list {
    padding-left: 0;
  }

  li.records-items {
    list-style: none;
    line-height: 18px;
    border-bottom: 2px solid #ddd;
  }

  .search-info {
    border-right: 1px solid #ddd;
    width: 100%;
    margin:  10px 0;
    padding: 10px;
  }

  .saved-search-title {
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin: 10px 0 -5px;
  }

  .saved-search-terms {
    display: block;
  }

  .search-info a {
    font-size: 16px;
  }

  .search-filters-heading {
    margin-top: 25px;
    display: block;
  }

  .search-filters-list {
    padding-left: 0;
    margin-top: 10px;
    display: block;
  }

  .search-filters-list li {
    list-style: none;
  }

  .additional-search-info {
    margin: 30px 0 28px;
  }

  .num-results {
    margin-bottom: 15px;
  }

  .remove-search-btn {
    cursor: pointer;
  }



  @media print {
    .header-complete {
      display: none;
    }

    .book-detail-title {
      margin-bottom: 20px;
      padding-bottom: 0;
      font-size: 16px;
    }

    .detail-begin {
      display: none;
    }

    .sr-top {
      display: none;
    }

    .rec-options {
      display: none;
    }

    .book-field-key {
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .book-field-val {
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1em;
    }

    .ng-binding b {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .footer {
      display: none;
    }
  }



/** RESPONSIVE **/


/** --------------------------
        DESKTOP DISPLAY 
--------------------------- **/

  @media (min-width: 992px) {

    /* Homepage */

    #go-btn span {
       display: none;
    }

    /* Search Results */

    #facets-mobile {
      display: none;
    }

    /* Facets Modal */

    .modal-dialog {
      min-width: 700px;
    }

    #facets-mobile-modal {
      display: none;
    }

  }



/** --------------------------
        TABLET DISPLAY 
--------------------------- **/

 @media (min-width: 769px) and (max-width: 991px) {

    /* Homepage */

    #go-btn span {
      display: none;
    }


    /* Search Results */

    #facets-mobile {
      display: none;
    }

    .facet-header-desktop {
      margin-bottom: 35px;
    }

    #left_sidebar_accordion__container {
      padding: 15px;
    }

    .facet-header-desktop h6 {
      margin-bottom: 10px;
    }

    #clear-all {
      float: left;
    }

    .results-list {
      padding: 10px 10px 80px;
    }

    #sorting {
      width: 100%;
      margin: 0 0 10px;
    }

    #facets-mobile {
      display: none;
    }
  
    #sorting .btn-group {
      width: 49%;
      margin-left: 0;
    }

    #sorting .btn {
      width: 100%;
      margin-top: 0;
    }

    /* Facets Modal */

    #facets-mobile-modal {
      display: none;
    }

    /* Advanced Search */

    .keyword-search-input {
      width: 100%;
    }

    /* Item Detail */

    .cat-title {
      min-width: 125px;
      width: 38%;
    }

    /* Footer */

    .footer p {
      display: block;
      text-align: center;
    }

  }



  /** --------------------------
        MOBILE DISPLAY 
--------------------------- **/


  @media (max-width: 768px) {

    /* Header */

    .header .getty-logo {
      width:  50px;
    }

    .header .gri-portal-logo {
      width: 200px;
    }

    .navbar .navbar-nav {
      display: block;
    }

    .navbar .navbar-collapse {
      text-align: left;
    }

    .navbar-default {
      margin-bottom: 20px;
    }

    .sr-top {
      margin-bottom: 20px;
    }

    /* Homepage */

    .search-bar {
      padding: 15px 15px 10px 15px;
      margin-bottom: 40px;
    }

    .search-input {
      width: 81%;
    }

    #go-btn {
      width: 17%;
      font-size: 22px;
      padding-top: 7px;
    }

    #go-btn p {
      display: none;
    }

    .stats .box { 
      margin-bottom: 10px
    }

    /* Search Results */

    .facet-header-desktop {
      display: none;
    }

    #left_sidebar_accordion__container {
      margin-top: -10px;
      padding: 10px;
    }

    #facets-mobile h4 {
      font-size: 16px;
      padding-top: 16px;
    }

    #clear-all {
      height: 30px;
      margin: 10px;
      padding: 0 15px;
      font-size: 14px;
    }

    .results-list {
      padding: 10px 10px 80px;
    }

    #sorting {
      width: 100%;
      margin: 0 0 10px;
    }

    #sorting .btn-group {
      width: 49%;
      margin-left: 0;
    }

    #sorting .btn {
      width: 100%;
      margin-top: 0;
    }

    /* Filter Modal */

    .modal-header {
      display: none;
    }

    #facets-mobile-modal {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      line-height: 1.5;
      border-bottom: 2px solid #ddd;
    }

    #facets-mobile-modal h4 {
      padding-bottom: 10px;
      margin: 0;
      color: #333;
      margin-right: 10px;
      display: inline-block;
    }

    #facets-mobile-modal .glyphicon {
      color: #333;
    }

    .close-modal .glyphicon {
      top: -4px;
    }

    .filter-checkboxes {
      width: 100%;
    }

    .filter-checkboxes label {
      max-width: 100%;
    }

    .facet-tabs {
      border-left: 1px solid #ddd;
    }

    #mobile-facet-tabs {
      margin-top: -16px;
    }

    .facet-tab-content {
      margin-left: 0;
    }

    .modal-footer {
      margin-left: 0;
    }

    /* Advanced Search */

    .keyword-search-input {
      width: 100%;
    }

    #toggle-select-btn {
      font-size: 10px;
      padding: 10px;
    }

    .sf-input {
      width: 80%;
    }

    /* Item Detail */

    #item-details h3 {
      display: block;
    }

    .view-export-print {
      display: block;
      float: left;
      margin: 0 0 10px;
    }

    .cat-title {
      min-width: 125px;
      width: 22%;
    }

    /* Recent Searches */

    .search-info {
      border-right: none;
      border-bottom: 1px solid #eee;
      margin: 15px 0;
    }

    .additional-search-info {
      margin: 0 10px 15px;
      display: flex;  
      justify-content: space-between;
      align-items: center;
    }

    .additional-search-info p {
      font-size: 16px;
      margin-bottom: 0;
    }

    .num-results {
      display: inline-block;
      margin-bottom: 0;
    }

    .remove-search-btn {
      display: inline-block;
      margin-bottom: 0;
    }

    /* Contributors */

    .contrib-vl-center {
      border-right: none;
    }

    /* Footer */

    .footer p {
      display: block;
      text-align: center;
    }


  }

  @media (max-width: 380px) {

    /* Advanced Search */

    .sbf-button-col {
      padding-right: 5px;
    }

    .results-top span {
      display: block;
      float: none;
    }

