<div class="getty-portal-app">
<div class="item-page">
<div class="item-details">
<hr class="sr-top">
<h3 class="book-detail-title" print-section>{{book._title_display}}</h3>
<div class="rec-options">
  <storage-event-listener></storage-event-listener>
  <save-record-button></save-record-button>
<ul class="view-export-print">
  <li><a href="{{book._record_link}}" ng-click="">View Digital Item</a></li>
  <li class="dropdown">
  <a href="#" id="exportBtn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></a>
    <ul class="dropdown-menu export-dropdown">
        <li><a href="#">RIS</a></li>
        <li><a class="saveJson" ng-click="saveAsJson(book.dublin_core)">DC-JSON</a><p ng-hide="fileContents">{{fileContents}}</p></li>
    </ul>
  </li>
  <li><a print-btn>Print</a></li>
</ul>
</div>
<h4 class="detail-begin">Details</h4>
<hr class="sr-top">
<!--<ul print-section class="specs" ng-repeat="(key, field) in book.dublin_core">-->
<ul print-section class="specs">
  <li class="book-field-key">
    <b ng-show="(book.dublin_core.identifier | filter:{encoding: 'URI'}).length > 1">Additional Volumes</b>
      <ul class="specs" ng-show="(book.dublin_core.identifier | filter:{encoding: 'URI'}).length > 1" ng-repeat="entry in (book.dublin_core.identifier | filter:{encoding: 'URI'})">
        <li class="book-field-val" ng-show="!$first"><a ng-show="entry.volume" ng-href="{{entry.value}}" target="_blank">{{entry.volume}}</a><a ng-show="!entry.volume" ng-href="{{entry.value}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="book.dublin_core.creator">Creator</b>
      <ul class="specs" ng-show="book.dublin_core.creator" ng-repeat="entry in book.dublin_core.creator">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'issued'}).length > 0">Date Issued</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'issued'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'issued'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'created'}).length > 0">Date Created</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'created'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'created'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'copyrighted'}).length > 0">Date Copyrighted</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'copyrighted'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'copyrighted'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'digitized'}).length > 0">Date Digitized</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'digitized'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'digitized'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'valid'}).length > 0">Date Valid</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'valid'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'valid'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'available'}).length > 0">Date Available</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'available'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'available'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: 'modified'}).length > 0">Date Modified</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'modified'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'modified'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.date | filter:{qualifier: '!'}).length > 0">Date</b>
      <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.publisher">Publisher</b>
      <ul class="specs" ng-show="book.dublin_core.publisher" ng-repeat="entry in book.dublin_core.publisher">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book._edition">Edition</b>
      <ul class="specs" ng-show="book._edition">
        <li class="book-field-val">{{book._edition}}</li>
      </ul>
    <b ng-show="book._grp_contributor">Contributing Institution</b>
      <ul class="specs" ng-show="book._grp_contributor">
        <li class="book-field-val">{{book._grp_contributor}}</li>
      </ul>
    <b ng-show="(book.dublin_core.format | filter:{qualifier: '!'}).length > 0">Format</b>
      <ul class="specs" ng-show="(book.dublin_core.format | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.format | filter:{qualifier: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.format | filter:{qualifier: 'extent'}).length > 0">Extent</b>
      <ul class="specs" ng-show="(book.dublin_core.format | filter:{qualifier: 'extent'}).length > 0" ng-repeat="entry in (book.dublin_core.format | filter:{qualifier: 'extent'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.format | filter:{qualifier: 'medium'}).length > 0">Medium</b>
      <ul class="specs" ng-show="(book.dublin_core.format | filter:{qualifier: 'medium'}).length > 0" ng-repeat="entry in (book.dublin_core.format | filter:{qualifier: 'medium'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.type">Type</b>
      <ul class="specs" ng-show="book.dublin_core.type" ng-repeat="entry in book.dublin_core.type">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book._series">Series</b>
      <ul class="specs" ng-show="book._series">
        <li class="book-field-val">{{book._series}}</li>
      </ul>
    <b ng-show="(book.dublin_core.description | filter:{qualifier: '!'}).length > 0">Description</b>
      <ul class="specs" ng-show="(book.dublin_core.description | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.description | filter:{qualifier: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.description | filter:{qualifier: 'abstract'}).length > 0">Abstract</b>
      <ul class="specs" ng-show="(book.dublin_core.description | filter:{qualifier: 'abstract'}).length > 0" ng-repeat="entry in (book.dublin_core.description | filter:{qualifier: 'abstract'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.description | filter:{qualifier: 'tableOfContents'}).length > 0">Table of Contents</b>
      <ul class="specs" ng-show="(book.dublin_core.description | filter:{qualifier: 'tableOfContents'}).length > 0" ng-repeat="entry in (book.dublin_core.description | filter:{qualifier: 'tableOfContents'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.provenance">Provenance</b>
      <ul class="specs" ng-show="book.dublin_core.provenance" ng-repeat="entry in book.dublin_core.provenance">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.language">Language</b>
      <ul class="specs" ng-show="book.dublin_core.language" ng-repeat="entry in book.dublin_core.language">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.subject">Subject</b>
      <ul class="specs" ng-show="book.dublin_core.subject" ng-repeat="entry in book.dublin_core.subject">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.coverage | filter:{qualifier: 'spatial'}).length > 0">Spatial Coverage</b>
      <ul class="specs" ng-show="(book.dublin_core.coverage | filter:{qualifier: 'spatial'}).length > 0" ng-repeat="entry in (book.dublin_core.coverage | filter:{qualifier: 'spatial'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.coverage | filter:{qualifier: 'temporal'}).length > 0">Temporal Coverage</b>
      <ul class="specs" ng-show="(book.dublin_core.coverage | filter:{qualifier: 'temporal'}).length > 0" ng-repeat="entry in (book.dublin_core.coverage | filter:{qualifier: 'temporal'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.title | filter:{qualifier: 'alternative'}).length > 0">Alternate Title</b>
      <ul class="specs" ng-show="(book.dublin_core.title | filter:{qualifier: 'alternative'}).length > 0" ng-repeat="entry in (book.dublin_core.title | filter:{qualifier: 'alternative'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.contributor">Contributor</b>
      <ul class="specs" ng-show="book.dublin_core.contributor" ng-repeat="entry in book.dublin_core.contributor">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Has Format</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Has Format</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: '!'}).length > 0">Has Format</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Is Format Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Is Format Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: '!'}).length > 0">Is Format Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Is Part Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Is Part Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: '!'}).length > 0">Is Part Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Has Version</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Has Version</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: '!'}).length > 0">Has Version</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Is Version Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Is Version Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: '!'}).length > 0">Is Version Of</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Has Part</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Has Part</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: '!'}).length > 0">Has Part</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Is Referenced By</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Is Referenced By</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: '!'}).length > 0">Is Referenced By</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Is Replaced By</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Is Replaced By</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: '!'}).length > 0">Is Replaced By</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Replaces</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Replaces</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: '!'}).length > 0">Replaces</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Requires</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Requires</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: '!'}).length > 0">Requires</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">Relation</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">Relation</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
        <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
        <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
      </ul>
    <b ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: '!'}).length > 0">Relation</b>
      <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: 'http'}).length > 0">Source</b>
      <ul class="specs" ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: 'http'})">
        <li class="book-field-val"><a ng-href="{{entry.value}}" target="_blank">{{entry.value}}</a></li>
      </ul>
    <b ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: !'http'}).length > 0">Source</b>
      <ul class="specs" ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: !'http'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.source | filter:{encoding: '!'}).length > 0">Source</b>
      <ul class="specs" ng-show="(book.dublin_core.source | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.source | filter:{encoding: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.rights | filter:{qualifier: 'accessRights'}).length > 0">Access Rights</b>
      <ul class="specs" ng-show="(book.dublin_core.rights | filter:{qualifier: 'accessRights'}).length > 0" ng-repeat="entry in (book.dublin_core.rights | filter:{qualifier: 'accessRights'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.rights | filter:{qualifier: 'rightsHolder'}).length > 0">Rights Holder</b>
      <ul class="specs" ng-show="(book.dublin_core.rights | filter:{qualifier: 'rightsHolder'}).length > 0" ng-repeat="entry in (book.dublin_core.rights | filter:{qualifier: 'rightsHolder'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.rights | filter:{qualifier: '!'}).length > 0">Rights</b>
      <ul class="specs" ng-show="(book.dublin_core.rights | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.rights | filter:{qualifier: '!'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="(book.dublin_core.identifier | filter:{qualifier: 'bibliographicCitation'}).length > 0">Bibliographic Citation</b>
      <ul class="specs" ng-show="(book.dublin_core.identifier | filter:{qualifier: 'bibliographicCitation'}).length > 0" ng-repeat="entry in (book.dublin_core.identifier | filter:{qualifier: 'bibliographicCitation'})">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.accrualMethod">Accrual Method</b>
      <ul class="specs" ng-show="book.dublin_core.accrualMethod" ng-repeat="entry in book.dublin_core.accrualMethod">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.accrualPeriodicity">Accrual Periodicity</b>
      <ul class="specs" ng-show="book.dublin_core.accrualPeriodicity" ng-repeat="entry in book.dublin_core.accrualPeriodicity">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
    <b ng-show="book.dublin_core.audience">Audience</b>
      <ul class="specs" ng-show="book.dublin_core.audience" ng-repeat="entry in book.dublin_core.audience">
        <li class="book-field-val">{{entry.value}}</li>
      </ul>
  </li>
</ul>
<h5>Question about this record?</h5>
<button id="emailGRI"><a ng-href="mailto:portal@getty.edu?subject=Book ID: {{book._id}}">Email the GRI</a></button>
</div>
</div>
<div ng-app="app" class="app">