<div class="getty-portal-app">

  <div  id="item-details" class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Record Detail</h3>
         <div class="view-export-print">
            <button class="btn btn-primary"><a href="{{book._record_link}}" ng-click="">View Digital Item</a></button>
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-primary" uib-dropdown-toggle><a href="#" id="exportBtn">Export<span class="glyphicon glyphicon-triangle-bottom" style="color:white"></span></a></button>
              <ul class="uib-dropdown-menu" role="menu">
                <li><a href="#">RIS</a></li>
                <li><a class="saveJson" ng-click="saveAsJson(book.dublin_core)">DC-JSON</a><p ng-hide="fileContents">{{fileContents}}</p></li>
              </ul>
            </div>
            <button class="btn btn-primary"><a print-btn>Print</a></button>
        </div>
        <hr class="sr-top">
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-xs-12">
        <div class="record-summary">
          <save-record-button></save-record-button>
          <div class="summary-info">
            <h6 class="book-detail-title" print-section>{{book._title_display}}</h6>
            <div class="book-summary-cd">
              <b class="summary-field-title" ng-show="book.dublin_core.creator">Creator:</b>
              <ul class="summary-value" ng-show="book.dublin_core.creator" ng-repeat="entry in book.dublin_core.creator">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
              <div class="date-display"><b class="summary-field-title" ng-show="book._date_display">Date:</b><div class="summary-value">{{book._date_display}}</div></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--<ul print-section class="specs" ng-repeat="(key, field) in book.dublin_core">-->
        <ul print-section class="specs">
          <li class="book-field-key">

            <div class="cat-group" ng-show="(book.dublin_core.identifier | filter:{encoding: 'URI'}).length > 1">
              <div class="cat-title">Additional Volumes</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.identifier | filter:{encoding: 'URI'}).length > 1" ng-repeat="entry in (book.dublin_core.identifier | filter:{encoding: 'URI'})">
                  <li class="book-field-val" ng-show="!$first"><a ng-show="entry.volume" ng-href="{{entry.value}}" target="_blank">{{entry.volume}}</a><a ng-show="!entry.volume" ng-href="{{entry.value}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.creator">
              <div class="cat-title" >Creator</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.creator" ng-repeat="entry in book.dublin_core.creator">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'issued'}).length > 0">
              <div class="cat-title">Date Issued</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'issued'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'issued'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'created'}).length > 0">
              <div class="cat-title">Date Created</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'created'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'created'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'copyrighted'}).length > 0">
              <div class="cat-title">Date Copyrighted</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'copyrighted'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'copyrighted'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'digitized'}).length > 0">
              <div class="cat-title">Date Digitized</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'digitized'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'digitized'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'valid'}).length > 0">
              <div class="cat-title">Date Valid</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'valid'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'valid'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'available'}).length > 0">
              <div class="cat-title">Date Available</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'available'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'available'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: 'modified'}).length > 0">
              <div class="cat-title">Date Modified</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: 'modified'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: 'modified'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.date | filter:{qualifier: '!'}).length > 0">
              <div class="cat-title">Date</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.date | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.date | filter:{qualifier: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.publisher">
              <div class="cat-title">Publisher</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.publisher" ng-repeat="entry in book.dublin_core.publisher">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book._edition">
              <div class="cat-title">Edition</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book._edition">
                  <li class="book-field-val">{{book._edition}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.format | filter:{qualifier: '!'}).length > 0">
              <div class="cat-title">Format</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.format | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.format | filter:{qualifier: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.format | filter:{qualifier: 'extent'}).length > 0">
              <div class="cat-title">Extent</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.format | filter:{qualifier: 'extent'}).length > 0" ng-repeat="entry in (book.dublin_core.format | filter:{qualifier: 'extent'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.format | filter:{qualifier: 'medium'}).length > 0">
              <div class="cat-title">Medium</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.format | filter:{qualifier: 'medium'}).length > 0" ng-repeat="entry in (book.dublin_core.format | filter:{qualifier: 'medium'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.type">
              <div class="cat-title">Type</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.type" ng-repeat="entry in book.dublin_core.type">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book._series">
              <div class="cat-title">Series</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book._series">
                  <li class="book-field-val">{{book._series}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.description | filter:{qualifier: '!'}).length > 0">
              <div class="cat-title">Description</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.description | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.description | filter:{qualifier: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.description | filter:{qualifier: 'abstract'}).length > 0">
              <div class="cat-title">Abstract</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.description | filter:{qualifier: 'abstract'}).length > 0" ng-repeat="entry in (book.dublin_core.description | filter:{qualifier: 'abstract'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.description | filter:{qualifier: 'tableOfContents'}).length > 0">
              <div class="cat-title">Table of Contents</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.description | filter:{qualifier: 'tableOfContents'}).length > 0" ng-repeat="entry in (book.dublin_core.description | filter:{qualifier: 'tableOfContents'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.provenance">
              <div class="cat-title">Provenance</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.provenance" ng-repeat="entry in book.dublin_core.provenance">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.language">
              <div class="cat-title">Language</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.language" ng-repeat="entry in book.dublin_core.language">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.subject">
              <div class="cat-title">Subject</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.subject" ng-repeat="entry in book.dublin_core.subject">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.coverage | filter:{qualifier: 'spatial'}).length > 0">
              <div class="cat-title">Spatial Coverage</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.coverage | filter:{qualifier: 'spatial'}).length > 0" ng-repeat="entry in (book.dublin_core.coverage | filter:{qualifier: 'spatial'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.coverage | filter:{qualifier: 'temporal'}).length > 0">
              <div class="cat-title">Temporal Coverage</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.coverage | filter:{qualifier: 'temporal'}).length > 0" ng-repeat="entry in (book.dublin_core.coverage | filter:{qualifier: 'temporal'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.title | filter:{qualifier: 'alternative'}).length > 0">
              <div class="cat-title">Alternate Title</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.title | filter:{qualifier: 'alternative'}).length > 0" ng-repeat="entry in (book.dublin_core.title | filter:{qualifier: 'alternative'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="book.dublin_core.contributor">
              <div class="cat-title">Contributor</div>
              <div class="cat-value">
                <ul class="specs" ng-show="book.dublin_core.contributor" ng-repeat="entry in book.dublin_core.contributor">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Has Format</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Has Format</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Has Format</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasFormat'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Is Format Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Is Format Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Is Format Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isFormatOf'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Is Part Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Is Part Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Is Part Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isPartOf'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Has Version</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Has Version</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Has Version</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasVersion'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Is Version Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Is Version Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Is Version Of</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isVersionOf'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Has Part</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Has Part</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Has Part</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'hasPart'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Is Referenced By</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Is Referenced By</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Is Referenced By</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReferencedBy'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Is Replaced By</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Is Replaced By</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: '!'}).length > 0">
              <div class="cat-title">Is Replaced By</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'isReplacedBy'} | filter:{encoding: '!'})">
                  <li class="book-field-val">{{entry.value}}</li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
              <div class="cat-title">Replaces</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                  <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
                </ul>
              </div>
            </div>

            <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
              <div class="cat-title">Replaces</div>
              <div class="cat-value">
                <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                  <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                  <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
                </ul>
              </div>
            </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: '!'}).length > 0">
            <div class="cat-title">Replaces</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'replaces'} | filter:{encoding: '!'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
            <div class="cat-title">Requires</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
            <div class="cat-title">Requires</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: '!'}).length > 0">
            <div class="cat-title">Requires</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: 'requires'} | filter:{encoding: '!'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0">
            <div class="cat-title">Relation</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: 'http'})">
                <li class="book-field-val"><a ng-href="{{entry.uri}}" target="_blank">{{entry.value}}</a></li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0">
            <div class="cat-title">Relation</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: 'URI'} | filter:{uri: !'http'})">
                <li class="book-field-val" ng-show="entry.value!==entry.uri">{{entry.value}}, {{entry.uri}}</li>
                <li class="book-field-val" ng-show="entry.value===entry.uri">{{entry.uri}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: '!'}).length > 0">
            <div class="cat-title">Relation</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.relation | filter:{qualifier: '!'} | filter:{encoding: '!'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: 'http'}).length > 0">
            <div class="cat-title">Source</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: 'http'}).length > 0" ng-repeat="entry in (book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: 'http'})">
                <li class="book-field-val"><a ng-href="{{entry.value}}" target="_blank">{{entry.value}}</a></li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: !'http'}).length > 0">
            <div class="cat-title">Source</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: !'http'}).length > 0" ng-repeat="entry in (book.dublin_core.source | filter:{encoding: 'URI'} | filter:{value: !'http'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.source | filter:{encoding: '!'}).length > 0">
            <div class="cat-title">Source</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.source | filter:{encoding: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.source | filter:{encoding: '!'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.rights | filter:{qualifier: 'accessRights'}).length > 0">
            <div class="cat-title">Access Rights</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.rights | filter:{qualifier: 'accessRights'}).length > 0" ng-repeat="entry in (book.dublin_core.rights | filter:{qualifier: 'accessRights'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.rights | filter:{qualifier: 'rightsHolder'}).length > 0">
            <div class="cat-title">Rights Holder</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.rights | filter:{qualifier: 'rightsHolder'}).length > 0" ng-repeat="entry in (book.dublin_core.rights | filter:{qualifier: 'rightsHolder'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.rights | filter:{qualifier: '!'}).length > 0">
            <div class="cat-title">Rights</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.rights | filter:{qualifier: '!'}).length > 0" ng-repeat="entry in (book.dublin_core.rights | filter:{qualifier: '!'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="(book.dublin_core.identifier | filter:{qualifier: 'bibliographicCitation'}).length > 0">
            <div class="cat-title">Bibliographic Citation</div>
            <div class="cat-value">
              <ul class="specs" ng-show="(book.dublin_core.identifier | filter:{qualifier: 'bibliographicCitation'}).length > 0" ng-repeat="entry in (book.dublin_core.identifier | filter:{qualifier: 'bibliographicCitation'})">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="book.dublin_core.accrualMethod">
            <div class="cat-title">Accrual Method</div>
            <div class="cat-value">
              <ul class="specs" ng-show="book.dublin_core.accrualMethod" ng-repeat="entry in book.dublin_core.accrualMethod">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="book.dublin_core.accrualPeriodicity">
            <div class="cat-title">Accrual Periodicity</div>
            <div class="cat-value">
              <ul class="specs" ng-show="book.dublin_core.accrualPeriodicity" ng-repeat="entry in book.dublin_core.accrualPeriodicity">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="book.dublin_core.audience">
            <div class="cat-title">Audience</div>
            <div class="cat-value">
              <ul class="specs" ng-show="book.dublin_core.audience" ng-repeat="entry in book.dublin_core.audience">
                <li class="book-field-val">{{entry.value}}</li>
              </ul>
            </div>
          </div>

          <div class="cat-group" ng-show="book._grp_contributor">
            <div class="cat-title">From</div>
            <div class="cat-value">
              <ul class="specs" ng-show="book._grp_contributor">
                <li class="book-field-val">{{book._grp_contributor}}</li>
              </ul>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div><!-- /.row -->

  <div class="row row-centered">
    <div class="col-xs-12 col-centered">
      <div id="emailGRI">
        <h4>Question about this record?</h4>
        <button class="btn btn-primary"><a ng-href="mailto:portal@getty.edu?subject=Book ID: {{book._id}}">Email the GRI</a></button>
      </div>
    </div>
  </div><!-- /.row -->

</div> <!-- /.container -->

<div ng-app="app" class="app">