<div ng-app="app" class="app">
  <div class="container" ng-cloak>
    <div class="row">
      <div class="col-xs-12">
        <h3>Portal Feedback</h3>
        <hr class="sr-top">
        <div class="top-copy">
          <h4>We value your feedback!</h4>
          <p>Please let us know how we can improve the Portal.</p>
          <p><i>*Indicates a required field</i></p>
        </div>
      </div>
    </div><!-- row -->

    <div ng-app="myApp" ng-controller="FeedbackFormCtrl">
      <form ng-model="user" novalidate ng-submit="feedbackForm.$valid && feedbackForm.submit() && feedbackForm.sendMail()" name="feedbackForm">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="fb-field">
                <p>* First name:</p>
                <input ng-model="user.first_name" type="text" ng-minlength="1" name="first_name" required>
                <p class="ff-error-msg req" ng-model="feedbackErrors" ng-show="feedbackForm.first_name.$error.required && feedbackForm.$submitted">{{feedbackErrors[0].msg}}</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="fb-field">
                <p>* Last name:</p>
                <input ng-model="user.last_name" id="last_name" type="text" name="last_name" ng-minlength="1" required>
                <p class="ff-error-msg req" ng-model="feedbackErrors" ng-show="feedbackForm.last_name.$error.required && feedbackForm.$submitted">{{feedbackErrors[0].msg}}</p>
              </div>
            </div>
          </div><!-- row -->

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="fb-field">
                <p>* Email:</p>
                <input ng-model="user.email" id="email" type="email" name="email" required>
                <p class="ff-error-msg invalid-email" ng-model="feedbackErrors" ng-show="!feedbackForm.email.$valid && feedbackForm.$submitted">{{feedbackErrors[1].msg}}</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="fb-field">
                <p>* Confirm Email:</p>
                <input ng-model="user.confirmation_email" id="confirmation_email" type="email" name="confirmation_email" required>
                <p class="ff-error-msg invalid-email" ng-model="feedbackErrors" ng-show="!feedbackForm.confirmation_email.$valid && feedbackForm.$submitted">{{feedbackErrors[1].msg}}</p>
                <p class="ff-error-msg mismatch-email" ng-model="feedbackErrors" ng-show="feedbackForm.$submitted && !isMatch()">{{feedbackErrors[2].msg}}</p>
              </div>
            </div>
          </div><!-- row -->

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="fb-field">
                <p>Organization:</p>
                <input ng-model="user.organization" id="organization" type="text" name="organization">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div ng-controller="FeedbackFormCtrl" class="fb-field">
                <p> I have a:</p>
                <select class="select-field" ng-init="user.type_of_feedback = feedbackFields[0]" ng-model="user.type_of_feedback" ng-options="feedbackField for feedbackField in feedbackFields">
                </select>
              </div>
            </div>
          </div><!-- row -->

          <div class="row">
            <div class="col-xs-12">
              <div class="user-feedback">
                <p>* Feedback:</p>
                <textarea ng-model="user.user_feedback" id="user_feedback" type="text" name="user_feedback" required></textarea>
                <p class="ff-error-msg req" ng-model="feedbackErrors" ng-show="feedbackForm.user_feedback.$error.required && feedbackForm.$submitted">{{feedbackErrors[0].msg}}</p>
              </div>
            </div>
          </div><!-- row -->

          <div class="row">
            <div class="col-xs-12">
              <input id="feedback-submit" ng-click="sendMail()" type="submit" value="Submit" />
            </div>
        </form>
      </div><!-- row -->
  </div><!-- /container -->
</div>
