<div class="footer">
  <hr class="footer-hr">
    <div class="container">
      <div class ="row">
        <div class="col-xs-12 col-md-3">
        <a href="http://www.getty.edu/"><p class="footer-logo"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo">The J. Paul Getty Trust</p></a>
      </div>

        <div class="col-xs-12 col-md-6">    
          <ul class="footer-list">
            <li class="j-paul-getty-trust-cr">&copy; The J. Paul Getty Trust</li>
            <li><a id="privacy-policy" href="http://www.getty.edu/legal/privacy.html">Privacy Policy</a></li>
            <li><a id="terms-of-use" href="http://www.getty.edu/legal/copyright.html">Terms of Use</a></li>
            <li><a id="contact-us" href="http://www.getty.edu/about/contact_us.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div>