<div class="footer">
  <hr class="footer-hr">
    <div class="container">
      <div class ="row">
        <div class="col-xs-12 col-md-3">
        <a href="http://www.getty.edu/"><p class="footer-logo"><img src="assets/images/getty_logo.gif" alt="Getty Logo" class="getty-logo">The J. Paul Getty Trust</p></a>
      </div>

        <div class="col-xs-12 col-md-8 col-lg-7">    
          <ul class="footer-list">
            <li class="j-paul-getty-trust-cr">&copy; The J. Paul Getty Trust</li>
            <li><a ui-sref="privacypolicy">Privacy Policy</a></li>
            <li><a ui-sref="termsofuse">Terms of Use</a></li>
            <li><a ui-sref="contact">Contact Us</a></li>
            <li><a href="#">Previous version of the Portal</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div>