<div class="container" id="help">
  <div class="row">
    <div class="col-xs-12">
      <h2>Help</h2>
      <hr class="sr-top">
      <p>The Getty Research Portal is an online search platform providing global access to digitized art history texts in the public domain.</p>
      <h4>Topics</h4>
      <ul class="help-topics">
        
        <li><a href="#" scroll-to="single-terms">Searching with Single Terms and Phrases</a></li>
        <li><a href="#" scroll-to="search-results-filters">Search Results Filters</a></li>
        <li><a href="#" scroll-to="using-the-filters">Using the Filters</a></li>
        <li><a href="#" scroll-to="advanced-search-tips">Advanced Search Tips</a></li>

      </ul>
      <h3 id="single-terms">Searching with Single Terms and Phrases</h3>
        <p>Enter any search term in the search box. </p>
      <h3 id="search-results-filters">Search Results Filters</h3>
        <p>On the results page, a set of filters on the left side of the page can be used to further refine the results.</p>
      <h3 id="using-the-filters">Using the Filters</h3> 
        <p>Clicking [+] opens a closed category while clicking [-] closes an opened one. Click the [+] sign next to a filter type to open the list of categories and see how many records were retrieved in various categories.</p>
        <p>The six filter types include the following categories:</p>
        <ul>
          <li><strong>Type</strong>—the formats of the resources; e.g., book, text, thesis, periodicals</li>
          <li><strong>Subject</strong>—subject matter of the resources; e.g., art, emblems, arbeiten auf papier, biography, poetry, periodicals</li>
          <li><strong>Creator</strong>—the authors associated with the resource</li>
          <li><strong>Language</strong>—The language of the resource</li>
          <li><strong>Contributing Institution</strong>—The source of the metadata and the host of the digital representation of the item</li>
          <li><strong>Date Range</strong>-Allows you to filter yoru results with a minimum and/or maximum year of publication.
        </ul>
        <p>Selecting a category, by clicking the check box next to it, will filter your original search and display only those records included in that category.</p>
        <p>You can add and remove as many category filters as you wish. All of your filters are displayed in the search box at the top of the filter list.</p>
        <p>You can remove a filter by unchecking the box in the sidebar or by clicking the x on the facet display in the search box at the top. You can remove all filters and advanced search terms at once by clicking the clear all button at the top of the sidebar.
      <h3 id="advanced-search-tips">Advanced Search Tips</h3>
        <h4>Using Multiple Search Terms</h4>
          <p>Understanding how the search engine treats multiple search terms will help you refine your search. Results with higher relevance will appear higher on the results list. Relevance is determined by number of matched search terms, the proximity with which terms are located, and the importance of the field in which terms are found.</p>
    </div>
  </div><!-- /row -->

  <span id="top-link-block" class="hidden">
      <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
      <i class="glyphicon glyphicon-chevron-up"></i> Back to Top</a>
  </span>

</div><!-- /container -->


<script>
if ( ($(window).height() + 100) < $(document).height() ) {
    $('#top-link-block').removeClass('hidden').affix({
        // how far to scroll down before link "slides" into view
        offset: {top:100}
    });
}
</script>

