<div class="container" ng-cloak>
  <div class="row">
    <div class="col-xs-12">
      <h3>Contributors</h3>
      <hr class="sr-top">
    </div>
  </div>

  <div class="row">
    <ul class="contributors">
      <li ng-repeat="contributor in institutions">
        <div class="contributor-list-item">
          <div class="col-xs-12 col-sm-6">
            <a ng-click="contribWebsite(contributor.key)"><p class="name-contrib">{{contributor.key}}</p></a>
            <div class="contrib-vl-center" ng-show="$even"></div>
            <div class="contrib-vl-right" ng-show="$odd"></div>
            <a ng-click="contribSearch(contributor.key)" class="num-contrib">{{contributor.doc_count}} Records</a>
          <!--<a ui-sref="searchResults" class="num-contrib">{{contributor.doc_count}} Records</a>-->
            <hr>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
